body {background-image: url("scenery.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #bbbbbb;}
;} }
fieldset {background-color: transparent;}


