/*h1 {color: Orange;font-family:Algerian;font-size: 100px; }*/
body {background-image: url("travel_bus.jpeg");
	background-repeat: no-repeat;
	height:300px;
	background-size: cover;
	background-position: center;
	background-color:transparent;}
	